/*--HTML and BODY--*/
body,
html {
  min-height: 100%;
  background-color: #000000 !important;
  font-family: 'Roboto', sans-serif !important;
  margin: 0px;
}

.custom-row {
  height: 100vh;
}

.custom-row-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  width: 100wh;
  gap: 8px;
}

.custom-row-main > div {
  border-radius: 5px;
}

.home {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

/*GRID ITEMS*/
.nav-custom {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
}

.market-val {
  grid-row: 3 / 7;
  grid-column: 1;
  display: flex;
  align-items: center;
}

.new-order {
  grid-row: 7 / 13;
  grid-column: 1;
}

.graph {
  grid-column: 2;
  grid-row: 3 / 8;
  display: flex;
  align-items: center;
}

.open-orders {
  grid-column: 2;
  grid-row: 8 / 13;
}

.wallet {
  grid-column: 3;
  grid-row: 3 / 7;
}
/* @media screen and (max-height: 800px){
  .nav-custom{
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
  }
  
  .market-val{
    grid-row: 3 / 7;
    grid-column: 1;
    display: flex;
    align-items: center;
  }
  
  .new-order{
    grid-row: 7 / 13;
    grid-column: 1;
  }
  
  .graph{
    grid-column: 2;
    grid-row: 3 / 8;
    display: flex;
    align-items: center;
  }
  
  .open-orders{
    grid-column: 2;
    grid-row: 8 / 13;
  }
  
  .wallet{
    grid-column: 3;
    grid-row: 3 / 7;
  }
} */

/* @media screen and (max-height: 800px){
  .nav-custom{
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
  }
  
  .market-val{
    grid-row: 4 / 7;
    grid-column: 1;
    display: flex;
    align-items: center;
  }
  
  .new-order{
    grid-row: 7 / 13;
    grid-column: 1;
  }
  
  .graph{
    grid-column: 2;
    grid-row: 4 / 8;
    display: flex;
    align-items: center;
  }
  
  .open-orders{
    grid-column: 2;
    grid-row: 8 / 13;
  }
  
  .wallet{
    grid-column: 3;
    grid-row: 4 / 7;
  }
} */

.wallet > table {
  height: calc(100% - 50px);
}

.your-orders {
  grid-column: 3;
  grid-row: 7 / 13;
}

td {
  padding: 5px;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #1b1b1b;
}

@media screen and (max-height: 800px) {
  .orders-bar {
    overflow-y: auto;
    max-height: 200px;
  }

  .y-orders-bar {
    overflow-y: auto;
    max-height: 360px;
  }
}
@media screen and (min-height: 800px) {
  .orders-bar {
    overflow-y: auto;
    max-height: 330px;
  }

  .y-orders-bar {
    overflow-y: auto;
    max-height: 530px;
  }
}

.orders-bar > table {
  width: 100%;
  table-layout: fixed;
  font-size: 16px;
}

.y-orders-bar > table {
  width: 100%;
  table-layout: fixed;
  font-size: 16px;
}

.order-row {
  font-size: 15px;
  color: #ffffffe3;
  border-bottom: #ffffff10 1px solid;
  padding-top: 5px;
}

.order-row > td:first-child {
  font-size: 14px;
}

.order-row > td:last-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.transaction-table > tr > td:first-child {
  color: #ffffff80;
}

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: #00000080;
  border-radius: 20px; /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: #24242485; /* color of the scroll thumb */
  border-radius: 20px;
  border: 2px solid #00000080; /* roundness of the scroll thumb */
}

.img-col {
  display: flex;
  justify-content: flex-end;
}

.title {
  color: white;
  font-size: 2.5em;
  font-weight: 700;
}

.title-head {
  font-weight: 600;
  color: #5cb85b;
}

.title-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 31px !important;
}

.open-header {
  font-weight: 400;
  font-size: 12px;
}

.wallet-add {
  background: #242424;
  padding: 7.5px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 15px;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*--BACKGROUND--*/
.sec-bg {
  background-color: #1b1b1b;
}

.head-bg {
  background-color: #242424 !important;
  border: none !important;
  border-radius: 0% !important;
}

.light-white {
  color: #ffffff20;
}

.close {
  color: white !important;
}

.text-format {
  font-weight: bold;
  color: white;
}

.green-bg {
  background: #08921c !important;
}
.red-bg {
  background: #9d0911 !important;
}

/*--NAVBAR--*/
.nav-brand {
  font-family: 'Russo One', sans-serif;
  font-size: 1.75rem !important;
  margin-left: 15px;
}

.nav-brand:hover {
  text-decoration: none;
}

.navbar-brand {
  font-family: 'Russo One', sans-serif;
  font-size: 2rem !important;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar {
  width: 100%;
  padding-bottom: 0 !important;
  position: absolute !important;
  z-index: 1;
}

/*--INPUTS--*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input,
select {
  background: #242424 !important;
  border: 1px solid #ffffff20 !important;
  color: white !important;
}

select:disabled {
  color: #ffffff20 !important;
  background: #24242450 !important;
}

label {
  margin-bottom: 0 !important;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff80;
}

::placeholder {
  color: #ffffff20 !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.btn-trade {
  width: 40%;
  font-weight: 900 !important;
  border-radius: 50px !important;
  margin-top: 15px;
}

.input-box-header {
  padding: 10px 0px 10px 0px;
  background: #242424;
  color: #ffffff80;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
}

/*--FUNCTIONAL--*/
.option-select {
  background-color: transparent !important;
  border: none !important;
  color: white;
  background: #1b1b1b !important;
  outline: none;
  margin-top: 2px;
  font-weight: 700;
}

.option-select-top {
  background-color: transparent !important;
  border: none !important;
  color: white;
  background: #242424 !important;
  outline: none;
  margin-top: 2px;
  font-weight: 700;
}

.green-box {
  background: #08921c;
  border-radius: 5px;
  color: white;
}

.red-box {
  background: #9d0911;
  border-radius: 5px;
  color: white;
}

/*--ANIMATIONS--*/
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
